$color-body: #232D3F;
$color-header: #303c52;
$color-inputs: #a9b6ce;
$color-desHis: #45474B;

body{
    background-color: $color-body;
    font-family: 'Gabarito' , cursive;
    color: white;
    box-sizing: border-box;
}