$color-body: #232D3F;
$color-header: #303c52;
$color-inputs: #a9b6ce;
$color-desHis: #45474B;

button{
    background-color:$color-inputs ;
    color: black;
    border-radius: 2.5px;
    margin: 2px;
}